<div class="post-preview">

  <div class="post-title">
    <h2><%= link_to h(post.title), post_seo_path(post) %></h2>
    <h5><%= date_full(post.posted_at) %></h5>
  </div>

  <% if post.has_images? %>
    <p class="post-images"><%= link_to image_tag(post.images.first.attachment.url, :alt => post.title), post_seo_path(post) %></p>
  <% end %>

  <%= post.rendered_preview %>
  
  <br class="clear" />
  
  <p><%= link_to t('.read_more'), post_seo_path(post) %></p>
  
</div>
