<% content_for :sidebar do %>
  <%= render :partial => 'sidebar' %>
<% end %>

<div class="post">
  
  <div class="post-title">
    <h5><%= h @post.posted_at.strftime('%A %B %d, %Y').gsub(/\s0/, ' ') %></h5> 
    <h1><%=h @post.title %></h1>
  </div>
  
  <% if @post.has_images? %>     
    <div class="post-images">
      <% @post.images.each_with_index do |image, index| %>
   	    <p><%= link_to image_tag(image.attachment.url(:medium), :alt => image.has_alt? ? image.alt : "#{@post.title} - Photo #{index + 1}"), image.attachment.url(:large), :id => "photo_#{index}" %></p>
 	    <% end %>
    </div>
  <% end %>   
    
  <%= @post.rendered_body %>  
  
  <div class="post-tags">
    <h5>Tagged:</h5>
    <p><%= @post.tags.collect{|tag| link_to(tag.name, search_posts_path(tag.name)) }.join(", ").html_safe %></p>
  </div>

  <% unless @post.products.empty? %>
    <div class="post-products">
      <%= render 'shared/products', :products => @post.products %>
    </div>
  <% end %>

</div>