<h1><%= t('blog.archive') %></h1>

<div class="archive" style="width: auto;">
  
  <% @posts.each do |monthname, posts| %>
    <h4 class="month"><%= monthname %></h4>
    <ul class="span-24">
    <% posts.each_with_index do |post,index| %>
      <li class="<%= index % 3 == 2 ? 'span-8 last' : 'span-8 colborder' %>">
        <span class="small"><%= post.posted_at.strftime('%B %d, %Y').gsub(/\s0/, ' ') %></span><br/>
        <%= link_to h(post.title), post_path(post.year, post.month, post.day, post.to_param) %>
      </li>
    <% end %>
    </ul>
    <div class="clear">&nbsp;</div>
  <% end %>

</div>
