<%= form.field_container :title do %>
  <%= form.label :title %> <span class="required">*</span><br />
  <%= form.text_field :title, :class => "title"  %>
  <%= error_message_on :example, :title %>
<% end %>

<%= form.field_container :body do %>
  <%= form.label :body %><%= markdown_helper %><br />
  <%= form.text_area :body  %>
  <%= error_message_on :example, :body %>
<% end %>

<% content_for :head do %>
  <script type="text/javascript">
  //<![CDATA[
    $(document).ready(function() {
      $('#example_body').markItUp(markdownSettings);
    }); 
  //]]>
  </script>
<% end %>
