<%= render :partial => 'admin/shared/contents_sub_menu' %>

<% if @post.try(:errors).present? %>
  <%= render 'shared/error_messages', :target => @post %>
<% end %>

<% form_for([:admin, @post]) do |f| %>
  <%= render "form", :form => f %>
  <p class="form-buttons">
    <%= button t("create") %> <%= t('or') %> <%= link_to t('cancel'), collection_url %>
  </p>
<% end %>

