<div data-hook="admin_upload_form_fields">
  <div class="left eight columns alpha" data-hook="admin_product_form_left">
    <%= form.field_container :attachment do %>
      <%= form.label :attachment %>
      <%= form.file_field :attachment %>
      <%= form.error_message_on :attachment %>
    <% end %>
  </div>

  <div class="left eight columns alpha" data-hook="admin_product_form_left">
    <%= form.field_container :attachment do %>
      <%= form.label :alt, t('description') %>
      <%= form.text_field :alt, :class => 'text' %>
      <%= form.error_message_on :attachment %>
    <% end %>
  </div>
</div>
