<h1><%= t('.edit_upload') %></h1>

<% if @upload.try(:errors).present? %>
  <%= render 'shared/error_messages', :target => @upload %>
<% end %>

<%= form_for([:admin, @upload], :html => { :multipart => true }) do |f| %>
    <p>
      <% if @upload.image_content? %>
        <b><%= t('.preview') %>:</b><br/>
        <%= link_to image_tag(@upload.attachment.url(:small)), @upload.attachment.url(:original) %>
      <% else %>
        <b><%= t('.link') %>:</b><br/>
        <%= link_to @upload.attachment_file_name, @upload.attachment.url %>
      <% end %>
    </p>
    <%= render "form", :form => f %>
  </table>
  <p class="form-buttons">
    <%= button t("update") %>
    or <%= link_to t("cancel"), admin_uploads_url, :id => "cancel_link" %>
  </p>
<% end %>
