<div class="post-preview">

  <div class="post-title">
    <h2><%= link_to h(post.title), post_seo_path(post) %></h2>
    <h5><%= date_full(post.posted_at) %></h5>
  </div>

  <div class="post-preview-image">    
    <% if post.images && !post.images.empty? %>
      <%= link_to image_tag(post.images.first.attachment.url(:preview), :alt => "#{h post.title}"), post_seo_path(post) %>
    <% end %>
  </div>

  <%= RDiscount.new(post.body).to_html.html_safe %>
  
  <br class="clear" />
  
  <p><%= link_to t('.read_more'), post_seo_path(post) %></p>
  
</div>
